body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.simon-buttons {
    margin-left: 70px;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.button {
    width:  150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s, transform 0.2s, box-shadow 0.2s;
}

#player-name {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.button:hover {
    opacity: 1;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.button.lit {
    opacity: 1;
    transform: scale(1.2);
    box-shadow: 0 0 20px white;
}

.score-display {
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 20px;
}

#start-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#reset-scores-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
}

#reset-scores-button:hover {
    background-color: #ff1a1a;
}

.top-scores {
    margin-top: 20px;
}

#top-scores-list {
    list-style-type: none;
    padding: 0;
}

#top-scores-list li {
    margin: 5px 0;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#close-modal-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
}

#close-modal-button:hover {
    background-color: #ff1a1a;
}